.cart-order {
  position: absolute;

  top: 20%;
  right: 6rem;
  width: 15rem;

  // height: 20rem;
  border-collapse: collapse;
  border-spacing: 0px;
  border: 1px solid lightgray;
  @media (max-width: 650px) {
    position: relative;
    margin: 0;
  }
  @media (max-width: 1550px) {
    right: 4rem;
    width: 15rem;
  }
  @media (max-width: 1250px) {
    right: 0.5rem;
    top: 15%;
  }
  th,
  tr {
    border: 1px solid lightgray;
  }
  thead {
    text-align: center;
  }
  th {
    height: 5rem;
  }
  td {
    // background-color: aqua;
    height: 3rem;
    padding: 0.5rem;
  }
  tfoot {
    text-align: center;
    height: 10rem;
    .order-botton {
      padding: 0.5rem 1rem;
    }
  }
}
