.container {
  display: flex;
  justify-content: center;
  .process-container {
    width: 80%;
    margin-top: 5rem;
    position: relative;
    .process-payment {
      width: 60rem;
      height: 30rem;
      margin-left: 5rem;
      display: flex;
      flex-direction: column;
      // justify-content: center;
      align-items: center;
      gap: 1rem;
      input {
        width: 40rem;
        height: 3rem;
        border-radius: 0.5rem;
        border: 1px solid lightgray;
      }
      input:focus-visible {
        outline-color: #ff414e;
      }
      .process-botton {
        padding: 0.5rem 1rem;
        border-radius: 0.5rem;
        border: 1px solid lightgray;
      }
    }
  }
}
