.botton {
  background-color: black;
  color: white;
  padding: 5px 15px;
  border-radius: 5px;
  text-transform: uppercase;
  display: inline-block;
  margin: 10px 0px;
  cursor: pointer;
  box-shadow: 0px 2px 2px lightgray;
  transition: ease background-color 250ms;
  border: 0.5px solid #801b1d;
  &:hover {
    background-color: #801b1d;
  }
  // &:disabled {
  //   cursor: default;
  //   opacity: 0.7;
  // }
}
