.navbar {
  width: 100%;
  padding: 0 4rem;
}

.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1900px;
  height: 4rem;
  position: relative;
  margin: 0 auto;

  h5 {
  font-family: stratos, sans-serif;
  font-weight: 700;
  font-style: italic;
}

  menu {
    display: flex;
    align-items: flex-end;
    gap: 3ch;
  }

  button {
    background-color: transparent;
    border: 2px solid rgb(5, 5, 5);
    width: 9rem;
    padding: 0.6rem 0.8rem;
    font-size: 1rem;
    font-family: 'Inconsolata', monospace;
  }
  .icon {
    position: relative;
  }
  .icon-number {
    position: absolute;
    color: red;
    font-weight: bold;
    font-size: large;
    top: -6px;
    left: 7px;
  }
}
