.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #686868;
  width: 100%;
  margin: 0 auto;
  height: 4rem;
  position: relative;
  padding: 0 7rem;

  menu {
    display: flex;
    align-items: flex-end;
    gap: 2.5ch;
  }

  button {
    background-color: transparent;
    border: 1px solid grey;
    width: 7rem;
    padding: 0.6rem;
  }
  .icon {
    position: relative;
  }
  .icon-number {
    position: absolute;
    color: red;
    font-weight: bold;
    font-size: large;
    top: -6px;
    left: 7px;
  }
}
