@bg: #fcfcfc;
@text: #333;
@link-color: #ff0000;
@link-color-hover: darken(@link-color, 10%);


:root {
  font-family: 'Inconsolata', monospace;
  line-height: 1.5;
  color: @text;
  background-color: @bg;
  display: flex;
  justify-content: center;
  --red: #ff0000;
  --black: #06191D;
  --white: #fcfcfc;
}

.root {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
  width: 100vw;
}
