.flyout {
  display: flex;
  flex-direction: column;
  overflow: scroll;
  text-align: left;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 99;
  height: 100vh;
  width: 25vw;
  background-color: rgb(243, 243, 243);

  ul {
    padding: 1.5rem 0;
    width: 100%;

    li {
      padding: 0.7rem 4rem;
      width: 100%;
      p {
        text-transform: uppercase;
        font-size: 1rem;
        letter-spacing: 0.06rem;
        font-family: 'Inconsolata', monospace;
      }
    }
    .welcome {
      font-size: 1rem;
      letter-spacing: 0.06rem;
      font-family: 'Inconsolata', monospace;
    }
    li:has(a) {
      font-family: stratos, sans-serif;
      font-weight: 500;
      font-style: normal;
      font-size: 1.6rem;
      line-height: 1.7;
    }
    li:has(a):hover {
      color: blue;
    }
    .menu-logout {
      margin-top: 0.5rem;
      text-transform: uppercase;
      font-size: 1rem;
      letter-spacing: 0.06rem;
      font-family: 'Inconsolata', monospace;
    }
    .menu-logout:hover {
      background-color: #0e0c0c;
      color: white;
      border: none;
    }
  }
}
#checkbox {
  display: none;
}

//media query for flyout menu
@media (max-width: 1125px) {
  width: 37vw;
}
//ipads and mobile devices flyout menu full vp width
@media (max-width: 769px) {
  .flyout {
    width: 60vw;
  }
  @media (max-width: 420px) {
    width: 100vw
  }
}
