.root {
    width: 70vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
h1 {
    font-size: 3.5rem;
}

@media only screen and (max-width: 600px) {
    h1 {
        font-size: 2rem;
    }
}