@import url("https://fonts.googleapis.com/css2?family=Amiri&display=swap");

.welcome-prompt {
  font-family: "Amiri", serif;
  margin-top: 3rem;
}

.account-nav {
  font-family: "Amiri", serif;
  font-style: bold;
  font-weight: 900;
  font-size: x-large;
  margin-bottom: 1rem;
}

.account-container {
  border-bottom: 2px solid lightgray;
  width: 1200px;
  .account-nav {
    display: flex;
    justify-content: space-between;
    margin: 0rem 5rem;
    margin-top: 1rem;
    a {
      padding: 0.5rem 1rem;
    }
    .active {
      background-color: lightgray;
      border-radius: 5px;
    }
  }
  article {
    font-size: xx-large;
  }
}
