.account-container {
  border-bottom: 2px solid lightgray;
  width: 1200px;
  .account-nav {
    display: flex;
    justify-content: space-between;
    margin: 0rem 5rem;
    margin-top: 1rem;
  }
  article {
    font-size: xx-large;
  }
}
