body {
  margin: 0;
  padding: 0;
}

.account-page {
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
  padding: 20px;
}

.account-header {
  text-align: center;
  margin-bottom: 1em;
}

.profile-reservations {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

@media only screen and (max-width: 600px) {
  .account-page {
    padding: 10px;
  }
}
