.account-header {
  text-align: center;
  margin-bottom: 1em;
}

.profile-reservations {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border: solid 5px;
}

@media only screen and (max-width: 600px) {
  .account-page {
    padding: 10px;
  }
}
