.upload-form {
  margin: 0 auto;
  width: 100%;
  max-width: 800px;
  flex-direction: column;

  legend {
    font-size: 6rem;
    font-family: stratos, sans-serif;
    font-weight: 600;
    font-style: normal;
    text-transform: uppercase;
    text-align: center;
    padding: 6rem 0 2.5rem 0;
  }

  .input-group {
    display: flex;
    flex-direction: column;

    input[type="text"],
    [type="number"],
    [type="datetime-local"],
    select {
        background: none;
        background-color: transparent;
        width: 100%;
        border: none;
        padding: 1rem;
        border-bottom: 2px solid var(--black);
        font-family: "Inconsolata", monospace;
        font-size: 1.11rem;
    }
  }

  button[type="submit"] {
    padding: 0.7rem 2rem;
    border: 1px solid var(--black);
    background-color: var(--black);
    color: var(--white);
    font-family: stratos, sans-serif;
    text-transform: uppercase;
    font-size: 1rem;
  }
}
