
.content {
    display: flex;
    justify-content: space-around;
    
    

   .sort {
        display: flex;
    }

    .ticket-card {
        display: flex;
        color: #0e0c0c;

        h2 {
            text-transform: capitalize;
        }
        p {
            font-size: 0.6rem;
        }
    }
    .map {
        background-color: #ff5356;
        width: 500px;
        height: 500px;
    }
}
