section {
  width: 100%;
  .heading {
    text-align: center;
    padding: 4rem 1rem 2rem 1rem;
    h1 {
      font-size: 7rem;
      color: var(--black);
    }
  }
  .sort {
    border-top: 2px solid var(--black);
    border-bottom: 2px solid var(--black);
    padding: 0 4rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 4rem;
    margin: 2rem auto;
    select {
      text-align: right;
      width: 140px;
      border: none;
      font-size: 1.1rem;
      font-family: "Inconsolata", monospace;
      background-color: transparent;

      height: 4rem;
    }
    select:focus {
      outline: none;
    }

    button {
      font-size: 1rem;
      font-family: "Inconsolata", monospace;
      background-color: transparent;
      border: none;
      // padding: 0.6rem;
    }
  }
  .content {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 4rem;
    column-gap: 5rem;
    width: 100%;
    max-width: 1900px;

    .left {
      width: 55%;

      ul {
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: stretch;
        gap: 6rem;

        .ticket-card {
          color: var(--black);
          // border: 2px solid black;
          width: 100%;
          max-width: 800px;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          column-gap: 2.5rem;
          position: relative;

          .flex1 {
            flex-basis: 15%;
            max-width: 130px;
            max-height: 130px;
            min-width: 100px;
            min-height: 100px;
            aspect-ratio: 1/1;
            color: var(--white);
            background-color: var(--black);
            font-size: 1.9rem;
            line-height: 1;
            font-family: "Inconsolata", monospace;
            text-transform: uppercase;
            text-align: center;
          }
          .flex2 {
            flex-basis: 80%;
            display: flex;
            padding-top: 1rem;
            padding-bottom: 1rem;
            flex-direction: column;
            gap: 0.2rem;
          }
          .flex3 {
            flex-basis: 5%;
            width: 30px;
            height: 30px;
            top: 0;
            right: 7px;
            position: absolute;
          }
        }
        .ticket-card:hover {
          border: 3px solid var(--red);
          pointer-events: none;
          .flex1 {
            background-color: var(--red);
          }
          .flex3 {
            color: var(--red);
          }
        }
      }
    }

    .right {
      width: 45%;
      margin-bottom: 2rem;
      .map {
        width: 100%;
        max-width: 800px;
        position: -webkit-sticky;
        position: sticky;
        top: 10%;
      }
    }
  }
}

.tickets-container {
  .search-bar {
    text-align: center;
    // @media (max-width: 1350px) {
    //   transform: translate(100%, -180%);
    // }
    margin-bottom: 6rem;
    input {
      width: 30rem;
      font-size: large;
      color: var(--black);
      font-size: 1rem;
      font-family: "Inconsolata", monospace;
      @media (max-width: 1350px) {
        width: 15rem;
        height: 1.5rem;
      }
      height: 2rem;
      border: none;
      border-bottom: 2px solid var(--black);
      background-color: transparent;
      &:focus-visible {
        outline-color: none;
      }
    }
  }
  @media (max-width: 1200px) {
    .heading {
      h1{
        font-size: 6rem;
      }
     }
  }
  @media (max-width: 1024px) {
    .heading {
      h1{
        font-size: 5rem;
      }
     }
  }
  //ipads and mobile devices flyout menu full vp width
  @media (max-width: 760px) {
    .heading {
      h1{
        font-size: 3.5rem;
      }
     }
  }
  @media (max-width: 480px) {
    .heading {
      h1{
        font-size: 3rem;
      }
     }
  }
}