@import url('https://fonts.googleapis.com/css2?family=Amiri&family=Inconsolata&display=swap');

.terms, .about {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.flex {
  padding: 0.5rem;
  margin: 0 auto;
  font-size: 0.9rem;
  font-family: 'Inconsolata', monospace;
  color: var(--black);
}
