@import url('https://fonts.googleapis.com/css2?family=Amiri&family=Inconsolata&display=swap');

.terms {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.about {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

footer {
  width: 100%;
  margin: 0 auto;
  font-size: 0.9rem;
    // line-height: 1.143;
    font-family: 'Inconsolata', monospace;
  .flex {
    padding: 0.5rem;
  }
}
