.terms {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: rgb(230, 230, 230);
}
.about{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: rgb(230, 230, 230);
}

footer {
  width: 100%;
  margin: 0 auto;
  background-color: rgb(230, 230, 230);
}

