@bg: #ffffff;
@text: #333;
@link-color: #428bca; // sea blue
@link-color-hover: darken(@link-color, 10%);

@font-face {
  font-family: Inter;
  src: url("./assets/Inter.ttf");
}

:root {
  font-family: Inter, sans-serif;

  color: @text;
  background-color: @bg;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;

}

body {
  background-color: #ffffff;
}

.root {
  width: 100vw;
}

a {
  text-decoration: none;
  color: @link-color;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
    color: @link-color-hover;
  }
}
