.active-card {
border: solid;
width: 20rem;
height: 10rem;
margin-right: 10px; 
flex-shrink: 0;
display: flex;
flex-direction: column;
align-items: center;
  }
  .listing-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 90rem;
    height: 60%;
  }

  .scrollContainer {
    display: flex;
    align-items: center;

    .horizontalScrollContainer {
      list-style: none;
      display: flex;
      overflow-x: auto;
      margin: 0;
      padding: 0;
      white-space: nowrap;

      // li {
      //   width: 50%; /* Adjust as needed */
      //   height: 30%; /* Adjust as needed */
      //   margin-right: 10px; /* Add spacing between items */
      //   flex-shrink: 0;

      //   // button {
      //   //   /* Your button styles here */
      //   // }

      //   // div {
      //   //   /* Your nested div styles here */
      //   }
      // }
    }
  }
